* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    background: linear-gradient(to top, rgba(51, 232, 93, 1) 0%, rgba(83, 203, 241, 1) 46%, rgba(5, 171, 224, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4.4rem;
}

#clock-page {
    text-decoration: none;
}

.wrapper {
    position: sticky;
    display: flex;
    margin: 0 auto;
    /* left: 33.9%; */
    flex-flow: column nowrap;
    width: 31.25rem;
    height: 31.25rem;
    /* width: 31.25%;
    height: 62.57%; */
    justify-content: flex-start;
    align-items: center;
    border: .4rem solid lightcoral;
    border-radius: 100%;
    background: linear-gradient(to bottom, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
    z-index: 2;
}

#weekDay {
    display: inline-block;
    min-height: 2.5rem;
    width: 18.75rem;
    margin: 8.125rem 0 0 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: blue;
    padding: 0.7rem;
    border: 0.27rem double red;
    text-align: center;
}

#nowDate {
    display: block;
    height: 3.75rem;
    margin: 2.5rem 0 0 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.75rem;
    font-weight: 700;
    color: red;
    padding: 0.37rem 0.8rem;
    background-color: lightgreen;
}


/* #nowMonth {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:deepskyblue;
    margin-left: 10px;
    padding: 4px;
} */

#nowTime {
    display: inline-block;
    height: 3.75rem;
    margin: 2rem 0 0 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.75rem;
    font-weight: 700;
    color: lightyellow;
    padding: 0.37rem 0.8rem;
    background-color: #21f;
}

.twitter_logo {
    width: 3.375rem;
    height: 2.625rem;
}

.batteryDiv {
    margin: 2.5rem auto;
    position: relative;
    display: block;
    text-align: center;
}

.batCont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12.5rem;
    border: 0.2rem solid lime;
}

.batteryDiv h3 {
    margin: 0.5rem;
}

.batteryDiv h4 {
    margin: 0.5rem;
    color: firebrick;
    font-size: 1.2rem;
}

.cursor {
    background-color: #222;
    border-radius: 12px;
}