* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, rgba(51, 232, 93, 1) 0%, rgba(83, 203, 241, 1) 46%, rgba(5, 171, 224, 1) 100%);
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    overflow: auto;
}

h1.title {
    text-align: center;
    color: lightcyan;
}

.subtitle {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: aqua;

}

.content {
    background-color: #E4F6AE;
    margin: 0 auto;
    padding: 1em 3em;
    width: 50vw;
    height: 100%;
    overflow-y: auto;
    position: relative;

}

.content p {
    font-size: 1.2rem;
    color: blue;
    border-bottom: rgba(83, 203, 241, 1) 1px solid;
}

.alias {
    cursor: alias;
}

.all-scroll {
    cursor: all-scroll;
}

.auto {
    cursor: auto;
}

.cell {
    cursor: cell;
}

.context-menu {
    cursor: context-menu;
}

.col-resize {
    cursor: col-resize;
}

.copy {
    cursor: copy;
}

.crosshair {
    cursor: crosshair;
}

.default {
    cursor: default;
}

.e-resize {
    cursor: e-resize;
}

.ew-resize {
    cursor: ew-resize;
}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.help {
    cursor: help;
}

.move {
    cursor: move;
}

.n-resize {
    cursor: n-resize;
}

.ne-resize {
    cursor: ne-resize;
}

.nesw-resize {
    cursor: nesw-resize;
}

.ns-resize {
    cursor: ns-resize;
}

.nw-resize {
    cursor: nw-resize;
}

.nwse-resize {
    cursor: nwse-resize;
}

.no-drop {
    cursor: no-drop;
}

.none {
    cursor: none;
}

.not-allowed {
    cursor: not-allowed;
}

.pointer {
    cursor: pointer;
}

.progress {
    cursor: progress;
}

.row-resize {
    cursor: row-resize;
}

.s-resize {
    cursor: s-resize;
}

.se-resize {
    cursor: se-resize;
}

.sw-resize {
    cursor: sw-resize;
}

.text {
    cursor: text;
}

.url {
    cursor: url(myBall.cur), auto;
}

.w-resize {
    cursor: w-resize;
}

.wait {
    cursor: wait;
}

.zoom-in {
    cursor: zoom-in;
}

.zoom-out {
    cursor: zoom-out;
}